{% extends "layout.html" %}
{% block title %}Aansturing ventilator{% endblock %}
{% block content %}
<div style="padding:10px; margin: 10 10 10 25px">
    <h1>Aansturing ventilator</h1>
</div>

<div class="tekst_centraal">
    <p>In de meeste gevallen zal een ventilator in luchtbehandelingskasten (LBK's) niet altijd op volle toeren draaien. 
    De hoeveelheid lucht die door een LBK stroomt, is daarom variabel.</p>
    <p>Het gebouwbeheerssysteem (GBS) bepaalt de waarde voor de aansturing van de ventilator. 
    Gemiddeld gezien ligt deze waarde rond de 60%, maar is sterk afhankelijk van het type gebouw.</p>
    <p>Er wordt geadviseerd om bovenstaande gemiddelde waarde aan te nemen als de aansturing van de ventilator niet bekend is.</p>
</div>

<div class="tekst_rechts">
    <div clas="afbeelding_groot">
        <img src="static\lbk_onderdelen.jpg" width="400" height="200" alt="lbk_onderdelen"><br>
        <p style="font-size: 12px;"><em>Figuur 1: Doorsnede van LBK</em></p>
    </div>
</div>
{% endblock %}
