{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<div style="text-align:center; padding:10px; margin: 10px">
    <h1>Contact pagina</h1>
</div>

<div class="tekst_links" style="overflow:auto; width: fit-content; background-color: #ffffff20; width: 300px; border-radius: 10px; padding: 10px; margin: 20px;">
    <img src="static\Glenn_portret.png" width="275" height="280" alt="logo"><br>
    <a style="background-color: transparent" href="https://www.facebook.com/glenn.huitink/" target="_blank">
        <img style="margin: 8 10 5 50px; float: left;" src="static\facebook_symbol.png" width="65" height="65" alt="logo">    
    </a>
    <a style="background-color: transparent" href="https://www.instagram.com/glenn_huitink/" target="_blank">
        <img style="margin: 5 55 5 15px; float: right;" src="static\insta_symbool.png" width="70" height="70" alt="logo">    
    </a>
</div>

<div class="tekst_centraal" style="height: fit-content;">
    <p>Deze webapplicatie is ontworpen en geschreven door Glenn Huitink. Hij was van september '21 tot en met januari '22 werkzaam bij BINX in de R&D afdeling als stagiair.</p>
    <p>Op deze pagina zijn de contactgegevens te vinden van Glenn Huitink. Bij vragen over het "<a href="/onderzoek" style="color: white;">onderzoek</a>" of het  
    "<a href="/pdm_filters" style="color: white;">Proof of Concept</a>", kunt u bij hem terecht.</p>
</div>


<div class="tekst_rechts" style="width: fit-content; background-color: #ffffff20">
    <img style="margin: 5 10 5 5px" src="static\call_symbool.png" width="40" height="40" alt="logo">
    <a href="tel: 310640042820" style="color: white" >+31(0)6 40 04 28 20 </a><br>
    <img style="margin: 5 15 5 5px" src="static\outlook_symbool.png" width="35" height="35" alt="logo">
    <a href="mailto: hglenn@hotmail.nl" style="color: white" >hglenn@hotmail.nl</a><br>
    <img style="margin: 5 10 5 5px" src="static\linkedin_symbool.png" width="40" height="30" alt="logo">
    <a href="https://www.linkedin.com/in/glenn-huitink/" style="color: white" >LinkedIn pagina</a><br>
</div>
{% endblock %}