{% extends "layout.html" %}
{% block title %}Energieprijs{% endblock %}
{% block content %}
<div style="padding:10px; margin: 10 10 10 25px">
    <h1>Energieprijs</h1>
</div>

<div class="tekst_centraal">
<p>De waarde van de energieprijs wordt gebruikt om de totale energiekosten te berekenen aan de hand van het energieverbruik.
BINX stelt de hoogte van de enerieprijs op in het prestatiecontract met de klant. 

</p>
<p>Voor het Stedelijk College is de energieprijs €0.10 per kWh. 
Er wordt geadviseerd deze prijs aan te houden, als de energieprijs niet bekend is.
</p>
</div>
</div>
{% endblock %}