{% extends "layout.html" %}
{% block title %}BINX webapplicatie PdM filters{% endblock %}
{% block content %}
<div style="padding:10px; margin: 10 10 10 25px">
    <h1>BINX webapplicatie PdM filters</h1>
</div>

<div class="tekst_centraal">
    <p>U bevindt zich momenteel op de home pagina van de voorspellend onderhoud webapplicatie van BINX.
    Dit is de interface voor het eindproduct van een afstudeerproject naar voorspellend onderhoud. </p>
    <p>Een aantal projectproducten hebben geleid tot deze webapplicatie. Deze zijn te vinden in de navigatiebalk hierboven.</p>
</div>
{% endblock %}