{% extends "layout.html" %}
{% block title %}Onderzoek voorspellend onderhoud{% endblock %}
{% block content %}
<div style="padding:10px; margin: 10 10 10 25px">
    <h1>Onderzoek: Voorspellend onderhoud in de utiliteitsbouw</h1>
</div>

<div class="tekst_centraal">
    <p>Industry 4.0 is de benaming voor de actuele trend van automatisering en datakoppeling in de maakindustrie. 
    Een voorbeeld van een oplossing die hieruit voortgevloeid is, wordt beschreven als voorspellend onderhoud. 
    Het toepassen van deze onderhoud strategie maakt het mogelijk om onverwachte storingen in machines vroegtijdig 
    te ontdekken. Dit leidt tot het verlagen van de downtime – periode waarin machines niet operationeel zijn door het gevolg 
    an een storing – en verhoogt daarmee de productieomzet.
   
    <p>Steeds vaker wordt voorspellend onderhoud door bedrijven ook toegepast in de utiliteitsbouw. 
    Het innovatieve BINX Smartility wil niet achterlopen op deze ontwikkeling, zodat de positie als beheer- 
    en onderhoudsaanbieder niet verslechtert ten opzichte van andere bedrijven. Daarom heeft BINX Smartility een onderzoek 
    opgestart. Het doel daarvan is om te achterhalen hoe en waar voorspellend onderhoud toegepast kan worden in de gebouw gebonden 
    installaties die ze ontwerpen. De onderzoeksvraag luidt: <em>“Welke techniek maakt het mogelijk om voorspellend onderhoud 
    toe te passen op welk specifiek component in een gebouw gebonden installatie?”</em></p>

    <p>Het uitvoeren van verschillende interviews en een literatuuronderzoek resulteerde in een aantal technieken, maar deze 
    zijn niet interessant bevonden voor BINX. Echter is gebleken dat deze technieken in de basis met elkaar verbonden zijn 
    door machine learning en dat is wel interessant. 
    Daarnaast resulteerde de interviews in vier verschillende componenten waarop voorspellend onderhoud mogelijk kan zijn: 
    filters, pompen, kleppen en verlichting. 
    Er is duidelijk geworden dat filters in een luchtbehandelingskast de beste aspecten hebben voor voorspellend onderhoud. 
    De beweegredenen hiervoor zijn: de mogelijke afname van energiekosten, beschikbaarheid van historische data en 
    reduceerbaarheid van de onderhouds- en vervangingskosten.</p>

    <p>De conclusie van het onderzoek luidt daarom als volgt: <em>”Voorspellend onderhoud kan toegepast worden op filters in luchtbehandelingskasten 
    door middel van machine learning.”</em></p>
</div>

<div class="tekst_rechts" style="background-color: #ffffff20">
    <img src="static\pdf_symbool.png" width="40" height="40" alt="logo">
    <a style="color: white; font-size: 14px" href="https://drive.google.com/file/d/1bD2B1lqoX5pQgiJL6SQQEqH0B9uRb8OI/view?usp=sharing" target="_blank"><em>Onderzoeksverslag.pdf</em></a>
</div>
{% endblock %}
