{% extends "layout.html" %}
{% block title %}PdM filters{% endblock %}
{% block content %}
<div style="padding:10px; margin: 10 10 10 25px">
    <h1>Proof of Concept PdM filters</h1>
</div>

<div class="tekst_centraal">
    <p>Aan de hand van het CRISP-DM model – een model om machine learning op te zetten binnen bedrijven – is er een project opgezet 
    om voorspellend onderhoud mogelijk te maken. Dit vereist het verzamelen van voldoende relevante data en het kiezen van een 
    wiskundig machine learning model. De combinatie van gegevens uit een luchtbehandelingskast en het Random Forrest model hebben 
    ertoe geleid dat er een applicatie ontwikkeld is. Deze kan een voorspelling doen van het drukverschil over het filter met een 
    nauwkeurigheid van 1.79 Pascal.</p>
</div>

<div class="tekst_rechts" style="background-color: #ffffff20">
    <img src="static\pdf_symbool.png" width="40" height="40" alt="logo">
    <a style="color: white; font-size: 14px" href="https://drive.google.com/file/d/1VnY54J7Ib-angXhH3TlPvQ_3X56fyBsb/view?usp=sharing" target="_blank"><em>Machinelearningverslag.pdf</em></a>
</div>
</div>


{% endblock %}